:root {
    --green: #009E18;
    --grey: #BCBCBC;
}
header {
    top: 0;
    left: 0;
    margin: 3rem;
}

.logo {
    font-size: 3rem;
}

.logo-link {
    color: black;
    text-decoration: none;
}

.green {
    color: var(--green);
}

footer {
    width: 100%;
    box-sizing: border-box;
    margin-top: 3rem;
    padding: 2rem 0 1rem 2rem;
    background-color: var(--grey);
    color: white;
    position: relative;
    bottom: 0;
    left: 0;
}

footer .logo {
    font-size: 2rem;
}

footer article {
    margin-bottom: 2rem;
    text-align: left;
}

footer .logo {
    margin-top: 0;
}

footer .logo-link {
    color: white;
}

footer a {
    text-decoration: none;
    color: white;
}