body {
    margin: 0;
}

main {
    margin: 0 1rem 0 1rem;
}

#welcome {
    text-align: center;
    padding: 3rem 0 1rem 0;
}

#welcome p {
    padding: 0 12.5% 0 12.5%;
}

.item {
    text-align: center;
    padding: 5rem 0 5rem 0;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 0.5rem;
    grid-template-areas: "info image";
    border-width: 2px;
    border-top-style: dashed;
    border-left-style: hidden;
    border-right-style: hidden;
    border-bottom-style: hidden;
    border-color: black;
}

.item h2 {
    margin: 0.5rem 0 0.5rem 0;
}

.item p {
    padding: 0 12.5% 0 12.5%;
}

.info {
    grid-area: info;
    margin-left: 1.5rem;
}

.item img {
    grid-area: image;
    margin: 0.7rem 0 0 2rem;
}

.dropdown {
    display: inline-block;
    vertical-align: middle;
    margin: 1rem 0 3rem 0;
}

select {
    background-color: var(--grey);
    color: white;
    padding: .5em 2.5em .5em .5em;
    border: 0;
    margin: 0;
    outline: none;
    border-radius: 3px;
    -webkit-appearance: button;
}

.dropdown::before,
.dropdown::after {
    content: "";
    position: absolute;
    pointer-events: none;
}