body {
    margin: 0;
}

main {
    margin: 0 1rem 0 1rem;
}

main article {
    margin: 4rem 0 4rem 0;
}

main article h2 {
    text-align: center;
}

main article p {
    text-align: center;
    padding: 0 12.5% 0 12.5%;
}

main article img {
    width: 100%;
}